<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplo Etiqueta DIV</title>
</head>

<body>

    <header>
        <nav style="padding:5px; box-shadow: 0 0 2px 2px dimgrey; background-color: dodgerblue;">
            <h1 style="text-align: center; color:white">Ejemplo práctico 2</h1>
        </nav>
    </header>

    <main>
        <section>
            <table>
                <thead>
                    <tr>
                        <td>Equipo</td>
                        <td>Victorias</td>
                        <td>Empates</td>
                        <td>Derrotas</td>
                        <td>Puntos Totales</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Barcelona</td>
                        <td>10</td>
                        <td>1</td>
                        <td>3</td>
                        <td>150</td>
                    </tr>
                    <tr>
                        <td>Real Madrid</td>
                        <td>10</td>
                        <td>3</td>
                        <td>5</td>
                        <td>130</td>
                    </tr>
                    <tr>
                        <td>Inter</td>
                        <td>8</td>
                        <td>4</td>
                        <td>5</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>Milan</td>
                        <td>7</td>
                        <td>4</td>
                        <td>4</td>
                        <td>90</td>
                    </tr>
                    <tr>
                        <td>Liverpool</td>
                        <td>5</td>
                        <td>5</td>
                        <td>7</td>
                        <td>50</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>

    <footer>
        <p
            style="padding: 5px; background-color:rgba(0,0,0,0.7); text-align:center; color:white; position:absolute; bottom:0; width:100%;">
            Derechos reservados por AndyTechIT, cualquier uso no autorizado por fuentes externas a este sitio no nos
            hará responsables.</p>
    </footer>

</body>

</html>